<div data-hook="admin_fx_rate_form_fields">
  <div class="panel panel-default" data-hook="fx_rates">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= Spree.t(:general_settings) %>
      </h1>
    </div>

    <div class="panel-body">
      <div class="col-md-12">
        <div data-hook="currency" class="form-group">
          <%= f.label :currency, Spree.t(:currency) %>
          <%= f.text_field :currency, :class => 'form-control' %>
        </div>
        <div data-hook="rate" class="form-group">
          <%= f.label :rate, Spree.t(:rate) %>
          <%= f.text_field :rate, :class => 'form-control' %>
          <p class="help-block">
            <%= Spree.t(:fx_rate_rate_explanation) %>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
